*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
 body{
    background-color: #F9F8FC;
     font-family:'Times New Roman', Times, serif;
 }
/* ADAPTADOR A CUALQUIER DISPOSITIVO */
 @media screen and (max-width:880px) {
     .menu{
         flex-direction: column;
         height: 220px;
         justify-content: space-evenly;
     }
     header{
        flex-direction: column;
        height: 180px;
        justify-content: space-evenly;
     }
     .conteiner{
        flex-direction: column;
        height: 200px;
        
        width: 10px;
        justify-content: space-evenly;
        
     }
     .Bussinesss{
         
        height: 800px;
        justify-content: space-evenly;
     }
     .text{
        flex-direction: column;
        height: 200px;
        width: 10px;
        justify-content: space-evenly;
     }
     
 }

/* Barra de navegacion*/
 .menu{
     opacity: .6;
     background-color: rgb(7, 7, 7);
     width: 100%;
     font-size: 1.4rem;
     display: flex;
     justify-content: center;
      
 }

 ul{
     list-style-type: none;
     padding: 0;
     margin: 0;
 }

 .menu ul li{
     display: inline-block;
 }

 .menu a{
     text-decoration: none;
     color: snow;
     justify-content: space-around;
     padding: 20px;
     display: flex;
     
 }

 .menu a:hover{
     color:rgb(41, 245, 252);      
 }

/*  header y logo */
 header{
    background-color: #F9F8FC;
    width: 100%;
    box-sizing: border-box;
  }

  #logo{
    margin: auto;
    height: 250px;
    width: 320px;
    text-align: center;
  }

  #logo h1{
     font-family: 'Pacifico', cursive;
     font-size: 58px;
   }

  /*  footer */
   .footer {  
    padding-top: 30px;
   background-color: #706a6a;
}

.footer-content h3{
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}

.socials{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
   
}

.socials li{
    margin: 0 3px;
}

.socials a{
    border: 1.1px solid rgb(226, 222, 222);
    padding: 0px;
    border-radius: 50%;
}
h3{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    color:black;
}
pre{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color:rgb(241, 231, 231);
}
/* Contenedor */
.conteiner{
    width: 100%;
    height: 120vh;
    background-color: azure;
    background-size: cover;
}
/* about */
.about{
    position: absolute;
    left: 13%;
    top: 62%;
    transform: translate(-13%, -32%);
  
}

.about .strong{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    color: #000000;
    font-size: 55px;
}
.about .H{
    font-weight: bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #706a6a;
    font-size: 22px;
}
.about p {
    line-height: 0px;
    margin: 35px 0px 25px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #3b3434;
    font-size: 20px;
    font-weight: bold;
}
.about button{
width: 130px;
height: 42px;
border-radius: 10px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-weight: bold;
font-size: 14px;
outline: none;
margin: 10px 10px;
}
button:active{
    transform: scale(1.1);    
}
button:hover{
    color: rgb(255, 250, 250);
    background-color: black;
}
/* foto de perfil */
.perfil{
    height: 230px;
    position: absolute;
    bottom: 150px;
    left: 70%;
    transform: translateX(-70%);
}
/* div Bussinesss */
.Bussinesss{
    width: 80%;
    height: 490px;
    background-color: rgba(255, 253, 253, 0.945);
    border-radius: 20px;
    box-shadow: 2px 2px 12px rgba(0,0,0.2);
    display: flex;
    margin: 20% auto 20px auto;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
}
.Bussinesss img{
    height: 290px;
}
.text{
    width: 550px;
}
.text p:nth-child(1){
    color:rgb(25, 25, 95) ;
    font-family: monospace;
    font-weight: bold;
    font-size: 45px;
    line-height: 40px;
    text-align: center;
}


.web p:nth-child(1){
    color:rgb(175, 71, 71) ;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 25px;
    line-height: 40px;
    text-align: left;
}
.web p:nth-child(2){   
    font-family: Georgia, 'Times New Roman', Times, serif;   
    font-size: 15px;
    line-height: 20px;

}
.web button{
width: 100px;
height: 40px;
color: #ffff;
outline: none;
border: none;
font-family: 'Courier New', Courier, monospace;
font-size: 12px;
font-weight: bold;
background-color: rgb(7, 7, 7);

}
.video p:nth-child(1){
    color:rgb(175, 71, 71) ;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 25px;
    line-height: 40px;
    text-align: left;
}
.video p:nth-child(2){   
    font-family: Georgia, 'Times New Roman', Times, serif;   
    font-size: 15px;
    line-height: 20px;

}
.video button{
width: 100px;
height: 40px;
color: #ffff;
outline: none;
border: none;
font-family: 'Courier New', Courier, monospace;
font-size: 12px;
font-weight: bold;
background-color: black;

}
/* <!-- barra lateral de redes sociales --> */
.social-icons{
position: fixed;
top: 50%;
right: 0px;
transform: translateY(-50%);
}
.social-icons a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    padding: 0px;
    margin: 0px;
    line-height: 0px;
    background-color: #ffff;
    border: 1px solid #cbcbcb;
    box-shadow: 2px 2px 12px rgba(0,0,0.2);
}
.social-icons a:hover{
    background-color: rgb(202, 202, 202);
}
 
 
/* formulario */
.form-weap{
     width: 1040px;
     height: 430px;
     margin: 50px auto;
     display: flex;
     background: #fff;
     border-radius: 10px;
     overflow: hidden;
     box-shadow: 0px 5px 15px 0px rgba(0,0, 0, 0.2);
 }
 .contact_info::before{
     content: '';
     width: 100%;
     height: 100%;

     position: absolute;
     top: 0;
     left: 0;

     background:rgb(3, 46, 63) ;
     opacity: 0.6;
 }
 .contact_info{
     width: 50%;
     position: relative;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     background-image: url('../portafolio_seli-1/Imagenes/insoft.jpg');
     background-size: cover;
     background-position: center center ;
 }
 
 .info_title,
.info_items{
    position: relative;
    z-index: 2;
    color: rgb(219, 213, 213);
    font-size: 25px;
}

.info_title{
  margin-bottom: 9px;
}
.info_title h2{
    font-size: 30px;
    font-family: cursive;
    color: #f5eded;
}
 #img1{
      
    display: block;
    padding-left: 60px;
     margin-bottom: 7px;
}
/*formulario*/
 .form_contact{
      width: 62%; 
      padding: 10px 40px; 
      
 }
  
 .form_contact h2{
     font-size: 50px;
    font-weight: 600;
    color: #81bcc7;
      
}

form.form_contact .user_info{
    display: flex;
    flex-direction:column;
    
}
.form_contact label{
    font-weight: 900;
}
:focus{
    outline: none;
}
.form_contact input,
.form_contact textarea{
    width: 100%;
    padding: 2px 0px 5px;
    margin-top: 2px;
    border: none;
    border-bottom: 2px solid #d1d1dd;
     

    font-family:sans-serif;
    color: #5a5a5a;
    font-size: 14px;
    font-weight: 400;
}
.form_contact textarea{
max-width: 100%;
min-width: 100%;
max-height: 90px;
 
}

.form_contact input[type="button"]{
    width: 180px;
    background: #4b637e;
    padding: 10px;
    border: none;
    border-radius: 25px;
    align-self: flex-end;

    font-family:sans-serif;
    color: #f0eaea;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 5px;
}

.form_contact input[type="button"]:hover{
   background-color: #eee2e2; 
   color: #000000;
}