*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
 body{
     background:rgb(223, 222, 219) ;
     font-family:'Times New Roman', Times, serif;
 }

 .menu{
     opacity: .6;
     background-color: rgb(7, 7, 7);
     width: 100%;
     font-size: 1.4rem;
     display: flex;
     justify-content: center;
     
 }

 ul{
     list-style-type: none;
     padding: 0;
     margin: 0;
 }

 .menu ul li{
     display: inline-block;
 }

 .menu a{
     text-decoration: none;
     color: snow;
     justify-content: space-around;
     padding: 20px;
     display: flex;
     
 }

 .menu a:hover{
     color:rgb(41, 245, 252);      
 }

 
 header{
    background-color: #F9F8FC;
  }

  #logo{
    margin: auto;
    height: 250px;
    width: 320px;
    text-align: center;
  }

  #logo h1{
     font-family: 'Pacifico', cursive;
     font-size: 58px;
   }
   footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(156, 153, 153);
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: #fff;
}

.footer-content h3{
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}

.socials{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
    
}

.socials li{
    margin: 0 3px;
}

.socials a{
    border: 1.1px solid rgb(250, 238, 238);
    padding: 0px;
    border-radius: 50%;
}
h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    color:black;
}
